body{
    
    font-family: "montserrat";
}

header {
    background-color: black;
    width: 100%;
    top: 0;
    position: fixed;
    display: block;
}

.containerRow {
    top: 200px;
    margin: 20px auto 20px auto;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.counterCol {
    margin: 20px auto;
    width: 50%;    
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerText {
    top: 200px;
    position: absolute;
    display: flex;
    margin: 50px auto 50px auto;
    width: 100%;
    text-align: center;
    justify-content: center;

}

.frontPageText {
    padding: 20px;
    margin: 50px auto 20px auto;
    width: 50%;
    position: relative;
    display: block;
    background: rgba(240, 248, 255, .75);
    text-align: center;
    font-weight: bolder;
    border: 3px solid rgb(85, 99, 114);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    

}

.imgLogo {
    display: block;
    margin: 20px auto 10px auto;  
    text-align: center;
    position: sticky;
    float: top;    
}

.links {
    font-family: 'Bebas neue';
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    background: rgba(240, 248, 255, .5);  
    position: sticky; 
    border: 3px solid rgb(84, 98, 112);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.socials {
    font-family: 'Bebas Neue';
    margin: 50px auto 20px auto;
    display: block;
    background: rgba(240, 248, 255, .5);
    border: 3px solid slategrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    

}

.title {
    margin: 0px auto 0px auto;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px darkgrey;
}

.iconImage {
    position: relative;
    margin: 5px auto 10px auto;
    height: 75px;
    width: 75px;
}

.image{
    position: absolute;
    margin: 5px auto 10px auto;
    height: 75px;
    width: 75px;
    align-self: center;
}

.quotes {
    font-weight: bolder;
    text-shadow: 2px 2px darkgrey;
}

.player {
    display: inline-block;
}

.containerPics {
    background-repeat: repeat;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    position: relative;
    min-height: min-content;
    min-width: min-content;
    flex: 2 1 auto;
}

.containerPics #archiveBack {
    border: 5px solid rgb(20, 90, 51);
    position: absolute;
    left: 5%;
    top: 0;
    width: 90%;
    height: 200%;
    opacity: 0.6;
    background-repeat: repeat-y;
}

.containerPics .picFrame {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    border: 5px solid rgb(20, 90, 51);
    margin: 15px;
    max-height: auto;

    height: auto;
    min-height: 250px;
    min-width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    align-self: center;
}

.caption {
    display: block;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    background-color: white;
    color: black;
    opacity: 0.75;
    
}

#headBackBio {
    background-color: rgba(105, 105, 105, 0.753);
}

#headBackMedia {
    background-color: rgba(0, 128, 128, 0.76);
}

#headBackTour {
    background-color: rgba(245, 135, 83, 0.76);
}

#headBackArch {
    background-color: rgb(106, 255, 47, 0.75);
}

#headerLinks {
    color: cadetblue;
    text-align: center;
}

#bioPage {
    background-image: url(./Resources/BWpromo.jpeg);
    background-attachment: fixed;
    background-size: 100%;
}

#tourPage {
    background-image: url(./Resources/Tour_talkBackG.jpg);
    position: static;
    background-size: 300px 300px;
    background-attachment: fixed;
}

#tourBack {
    background: rgba(255, 164, 152, 0.75)
}

#tourFront {
    background: rgba(250, 100, 80, 0.5);
}

#archivePage {
    background-image: url(./Resources/DeadWeightBackG.jpg);
    position: static;
    background-size: 300px 300px;
    background-attachment: fixed;
}