body{
    top: ;
    background-image: url(./Resources/BWpromo.jpeg);
    background-attachment: fixed;
    background-size: 100%;
    font-family: "montserrat";
}

header {
    width: 100%;
    top: 0;
    position: sticky;
    display: block;
}

.containerRow {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counterCol {
    margin: 20px 100px 10px auto;
    width: 50%;    
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frontPageText {
    margin: 50px auto 20px auto;
    width: 50%;
    position: relative;
    display: block;
    background: rgba(240, 248, 255, .75);
    text-align: center;
    font-weight: bolder;
}

.imgLogo {
    display: block;
    margin: 20px auto 10px auto;  
    text-align: center;
    position: sticky;
    float: top;    
}

.links {
    font-family: 'Bebas neue';
    font-size: 40px;
    font-weight: bolder;
    width: 100%;
    background: rgba(240, 248, 255, .5);  
    position: sticky;  
}

.socials {
    font-family: 'Bebas Neue';
    margin: 50px auto 20px auto;
    display: block;
    background: rgba(240, 248, 255, .5);
}

.title {
    margin: 0px auto 0px auto;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px darkgrey;
}

.image{
    margin: 5px auto 10px auto;
    height: 75px;
    width: 75px;
}

.quotes {
    font-weight: bolder;
    text-shadow: 2px 2px darkgrey;
}

.player {
    display: inline-block;
}

#headerLinks {
    color: cadetblue;
    text-align: center;
}




